<nav>
    <a href="/"><img class="icon" src="/images/rubik.png" alt="rubiks cube"></a> 
    <ul class="nav">
        <li><a href="/user/login">Connection</a> </li>
        <li><a href="/user/register">S'inscrire</a> </li>
        <li><a href="/contact">Contact</a> </li>
        <li><a href="/add">Ajouter un article</a> </li>
    </ul>
</nav>
